{% extends "admin/layout.html" %}
{% block contents %}
<style>
    .bootstrap-tagsinput {
        width: 100%;
        height: 200px;
        padding: 10px;
        line-height: 40px;
        overflow-y: scroll;
    }

    .bootstrap-tagsinput .tag {
        color: white;
        display: inline-block;
        background: #1D375F;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 2px;
        line-height: 40px;
        margin: 2px;
    }
</style>
<div class="card">
    <div class="card-body">

        <div class="form-group row">
            <div class="col-lg-12">
                <b>계정 정보</b>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">이메일(아이디)</label>
            <div class="col-lg-9">
                <input class="form-control" type="text" id="user_id" name="user_id" value="{{user_item.user_id}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">변경할 비밀번호</label>
            <div class="col-lg-9">
                <input class="form-control" type="password" id="user_pw" name="user_pw" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">변경할 비밀번호(확인)</label>
            <div class="col-lg-9">
                <input class="form-control" type="password" id="user_pw_ok" name="user_pw_ok" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label form-control-label">업체명</label>
            <div class="col-md-9">
                <input class="form-control" type="text" id="name" name="name" value="{{user_item.name}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">업체 연락처</label>
            <div class="col-lg-9">
                <input class="form-control" type="phone" id="tel" name="tel" value="{{user_item.tel}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label form-control-label">주소</label>
            <div class="col-md-9">
                <input class="form-control" type="text" id="address" name="address" value="{{user_item.address}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label form-control-label">상세주소</label>
            <div class="col-md-9">
                <input class="form-control" type="text" id="address2" name="address2" value="{{user_item.address2}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">계정 유형</label>
            <div class="col-lg-9">
                <select class="form-control" id="user_type" name="user_type">
                    {% for k, v in user_types.items() %}
                        <option value="{{k}}" {{'selected' if user_item.user_type | string == k | string else ''}}>{{v}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label form-control-label">이용 시작 날짜</label>
            <div class="col-md-9">
                <input class="form-control" type="date" id="started_at" name="started_at" value="{{user_item.started_at.strftime('%Y-%m-%d')}}" placeholder="YYYY-MM_DD"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label form-control-label">이용 종료 날짜</label>
            <div class="col-md-9">
                <input class="form-control" type="date" id="ended_at" name="ended_at" value="{{user_item.ended_at.strftime('%Y-%m-%d')}}" placeholder="YYYY-MM_DD" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-lg-12" style="margin-top:40px;">
                <b>담당자 정보</b>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">담당자 이름</label>
            <div class="col-lg-9">
                <input class="form-control" type="text" id="manager_name" name="manager_name" value="{{user_item.manager_name or ''}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">담당자 연락처</label>
            <div class="col-lg-9">
                <input class="form-control" type="phone" id="manager_tel" name="manager_tel" value="{{user_item.manager_tel or ''}}" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-lg-12" style="margin-top:40px;">
                <b>나의 호텔 지정</b>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">나의 호텔 (<a href="/hotels/edit?id={{user_item.hotel_id}}">수정</a>)</label>
            <div class="col-lg-9">
                <select class="selectize" id="hotel_id" name="hotel_id">
                    {% for k, v in hotels.items() %}
                    <option value="{{k}}" {{'selected' if user_item.hotel_id | string == k | string else ''}}>{{v}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-lg-12" style="margin-top:40px;">
                <b>경쟁 호텔 지정</b>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">경쟁 호텔 추가</label>
            <div class="col-lg-8">
                <select class="selectize" id="competition_id">
                    {% for k, v in hotels.items() %}
                    <option value="{{k}}">{{v}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-1">
                <button type="button" onclick="add_competition();" style="width: 100%;" class="btn btn-success">추가</button>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">경쟁 호텔 목록</label>
            <div class="col-lg-9">
                <input id="competitions" name="competitions" class="div-tag">
            </div>
        </div>


        <div class="form-group row">
            <div class="col-lg-12" style="margin-top:40px;">
                <b>크롤러 정책 지정</b>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">크롤러 정책</label>
            <div class="col-lg-9">
                <select class="form-control" id="rule_id" name="rule_id">
                    <option value="0" {{'selected' if user_crawler_rule is none else ''}}>크롤러 정책 없음</option>
                    {% for k, v in crawler_rules.items() %}
                    <option value="{{k}}" {{'selected' if user_crawler_rule is not none and user_crawler_rule.crawler_rule_id == k else ''}}>{{v}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label form-control-label">경쟁호텔 이용 개수(최대)</label>
            <div class="col-md-9">
                <input class="form-control" type="number" id="hotel_limit" name="hotel_limit" value="{{user_item.hotel_limit}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label form-control-label">OTA 이용 개수(최대)</label>
            <div class="col-md-9">
                <input class="form-control" type="number" id="ota_limit" name="ota_limit" value="{{user_item.ota_limit}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">OTA 모니터링 설정</label>
            <div class="col-lg-9">
            {% for ota_code in range(ota_code_to_str | length) %}
                <div style="width:120px; float:left;">
                {{ota_code_to_label[ota_code]}} 
                <input type="checkbox" id="ota_{{ota_code}}" {{'checked' if ((user_item.otas // (2 ** ota_code)) % 2) > 0 else ''}}>
                </div>
                {{'<br>' | safe if ota_code % 4 == 3 else ''}}
            {% endfor %}
            </div>
        </div>

        
        <div class="form-group row">
            <div class="col-lg-12" style="text-align: center;">
                <input type="button" class="btn btn-primary" value="수정" onclick="create_or_update_account();">
                <input type="button" class="btn btn-secondary" value="돌아가기" onclick="history.go(-1)">
            </div>
        </div>
        
    </div><!-- card body -->
</div> <!-- card-outline -->

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    function add_competition() {
        item = $("#competition_id");
        $('.div-tag').tagsinput('add', {id:item.val(), label:item.text()});
    }

    const ota_code_to_str = {{ ota_code_to_str | safe }}
    function create_or_update_account() {
        var otas = 0;
        var otas_order = [];
        var competition_list = $("#competitions").val() != '' ? $("#competitions").val().split(',') : []
        for (let ota_code in ota_code_to_str){
            if ($(`#ota_${ota_code}`).is(":checked")) {
                otas |= 1 << ota_code;
                otas_order.push(parseInt(ota_code));
            }
        }

        if (parseInt($("#ota_limit").val()) < otas_order.length) return alert("최대 ota 개수를 확인해주세요.")
        if (parseInt($("#hotel_limit").val()) < competition_list.length) return alert("최대 경쟁호텔 개수를 확인해주세요.")

        params = {
            'account_id': {{user_item.id}},
            'user_id': $("#user_id").val(),
            'user_pw': $("#user_pw").val(),
            'user_pw_ok': $("#user_pw_ok").val(),
            'name': $("#name").val(),
            'tel': $("#tel").val(),
            'address': $("#address").val(),
            'address2': $("#address2").val(),
            'user_type': parseInt($("#user_type").val()),
            'manager_name': $("#manager_name").val(),
            'manager_tel': $("#manager_tel").val(),
            'hotel_id': $("#hotel_id").val() == '' ? '' : parseInt($("#hotel_id").val()),
            'competitions': competition_list,
            'rule_id': parseInt($("#rule_id").val()),
            'otas': otas,
            'otas_order': JSON.stringify(otas_order),
            'started_at': $("#started_at").val(),
            'ended_at': $("#ended_at").val(),
            'hotel_limit': parseInt($("#hotel_limit").val()),
            'ota_limit': parseInt($("#ota_limit").val()),
        };

        $.ajax({
            url: "/account/api/create_or_update",
            type: "post",
            accept: "application/json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(params),
            dataType: "json",
            success: function(data) {
                if (data.code != 200) {
                    alert(data.msg);
                    return;
                }
                alert("성공적으로 수정하였습니다.");
            },error: function(jqXHR,textStatus,errorThrown) {
                alert("호텔 내용 수정 실패");
            }
        });
    }

    $(document).ready(function () {
        $('.selectize').selectize({
            sortField: 'text'
        });

        // 경쟁 호텔
        $('.div-tag').tagsinput({
            allowDuplicates: false,
            itemValue: 'id',
            itemText: 'label',
            freeInput: false
        });

        $('.bootstrap-tagsinput input').attr('readonly', true);
        
        {% for c in competitions %}
            $('.div-tag').tagsinput('add', {id:{{c.id}}, label:"{{c.name}}"});
        {% endfor %}
    });

</script>
{% endblock %}